.signup{
    background-image: url("../../assets/567b013f67ef101b947afb9cd76c96be.jpg");
    background-size: cover;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.containerrr{
    background: rgba(255, 255, 255, 0.1); /* شفافية لإظهار الخلفية */
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px); 
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.containerrr h1 {
    color: #F8E4A1;
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;

}

.form-group label {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    
}
.form-group input {
    /* width: 100%; */
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    transition: 0.3s;
}
.form-group input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.btn {
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(45deg, #645452, #A89F91);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px #F8E4A1;
}