# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor & IDE files
.vscode/
.idea/
*.swp

# Build & Cache
dist/
build/
.cache/

# Dependencies from package managers
package-lock.json