.forgetPassword {
  background-image: url("../../assets/567b013f67ef101b947afb9cd76c96be.jpg"); /* خلفية */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgetPassword .container {
  background: rgba(255, 255, 255, 0.1); /* تأثير زجاجي شفاف */
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); /* إضافة تأثير الزجاج */
  text-align: center;
  padding: 50px;
  margin: 50px 0;
  animation: fadeIn 0.5s ease-in-out;

}

.forgetPassword h1 {
  color: #F8E4A1;
  font-size: 36px;
  margin-bottom: 15px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.forgetPassword p {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forgetPassword .formGroup {
  margin-bottom: 20px;
}

.forgetPassword .input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  transition: 0.3s;
}

.forgetPassword .input:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.forgetPassword .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}

.forgetPassword .btn {
  margin-top: 30px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(45deg, #645452, #A89F91);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.forgetPassword .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px #F8E4A1;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
